
#register_label{

	text-align: left;
}

.fa-facebook-official{
	color: blue;
}

.fa-twitter{
	color: green;	
}

.fa-google-plus{
	color: red;
}

hr{
	border-color: #337ab7;
}

.profile-content-top-right-anchor,.view-post-anchor{
	text-align: right;
}

a{
	text-decoration: underline;
}

.top-post,.recent-post{
	margin: 5px;
	border-bottom:1px solid blue
}
.top-post-panel-body,.recent-post-panel-body{
	overflow-y: auto;
	max-height: 250px;
}
.input-top-right-anchor{
	text-align: right;
}


