/*
* This is a manifest file that'll be compiled into main.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require bootstrap
*=require Header
*= require_self
*/


.body-top-container{
	margin-top: 70px;
}

.fa-facebook-official{
	color: blue;
}

.fa-twitter{
	color: green;
}

.fa-google-plus{
	color: red;
}

.page-container-inner-left-div{
	float: left;

}

.page-container-inner-right-div{
	float: right;
}

.badge{
	background-color: #0000C0;
}

.make-align-center{
	text-align: center;
}

.modal-result{
	display: none;
}
.post-footer-links{
	text-align: right;
}
.input-top-right-anchor{
	text-align: right;
}
.error {
	color:#FF0000;
}
.panel-body{
	margin: 5px;
}

.trending-topic,.inbox-post{

	padding: 5px;
	border-bottom: 1px solid blue;
}
.tending-topic-panel-body,.subscription-panel-body,.topic-panel-body{
	overflow-y: auto;
	max-height: 347px;
}

#custom-search-input{
	margin-top: 10px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px

}

#custom-search-input input{
	border: 0;
	box-shadow: none;
	height: 30px;
	width: 200px;
}

#custom-search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
	font-size: 15px;
}
.asterisk{
	color: red;
}
.post-description{
	word-wrap: break-word;
	line-height: 1.2em;
	height: 3.6em;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #337ab7;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #337ab7;
}







