/*
* This is a manifest file that'll be compiled into main.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require bootstrap
*=require Header
*= require_self
*/


.body-top-container{
	margin-top: 70px;
}

.fa-facebook-official{
	color: blue;
}

.fa-twitter{
	color: green;
}

.fa-google-plus{
	color: red;
}

a{
	text-decoration: underline;
}

.page-container-inner-left-div{
	float: left;

}

.page-container-inner-right-div{
	float: right;
}