
.post-panel-anchor{
	float: right;
	margin-right: 6px;
	font-size: 20px;
}

.input-top-right-anchor{
	text-align: right;
}

.post-content{
	margin-left: 10px;
	margin-right: 10px
}

.fa-facebook-official,.fa-twitter,.fa-google-plus{
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px
}
.post-panel-body{
	margin: 5px;
}