
.trending-topic{

    padding: 5px;
    border-bottom: 1px solid blue;
}
.tending-topic-panel-body{
    overflow-y: auto;
    max-height: 340px;
}
.post-panel-body{
    margin: 5px;
}

.post-content{
    word-wrap: break-word;
    height: auto;
}
.post-panel-body{
    margin-left: 10px;
}