.page-container-inner-left-div{
    float: left;
}

.page-container-inner-right-div{
    float: right;
}
.show-users-panel-body{
    overflow-y: auto;
    height: 265px;
}


.user-info {
    margin: 5px;
    border-bottom: 1px solid blue
}
.topic-info{
    margin: 5px;
}

.topic-show-user-name{
    font-size: large;
}
