
.panels-dropdown{
	background-color:white;
	color:black;
}

hr{
	border-color: #337ab7;
}

.inbox-panel-anchor{
	float: right;
	margin-right: 6px;
}

.subscription-panel-boby{
	margin-left: 15px;
}
.tending-topic-panel-body,.inbox-panel-body{
	margin-left: 10px;
}
.input-top-right-anchor{
	text-align: right;
}


.subscription-header-top-left-anchor{
	text-align: right;
	color: white;
}



.trending-topic,.inbox-post{

	padding: 5px;
	border-bottom: 1px solid blue;
}
.tending-topic-panel-body{
	overflow-y: auto;
	height: 340px;
}
.inbox-panel-body{
	overflow-y: auto;
	height: 950px;
}

