

.nav_icon{
	font-size: 20px;
	margin:5px
}
.nav-dropdown{
	background-color:white;
	color:black;
	border:0;
}
.panels-dropdown{
	background-color:white;
	color:black;
}

hr{
	border-color: #337ab7;
}

.page-container-inner-left-div{
	float: left;

}

.page-container-inner-right-div{
	float: right;
}

.inbox-panel-anchor{
	float: right;
	margin-right: 6px;
}

.subscription-panel-boby{
	margin-left: 15px;
}
.tending-topic-panel-body,.inbox-panel-body{
	margin-left: 10px;
}
.input-top-right-anchor{
	text-align: right;
}

a{
	text-decoration: underline;
}
.subscription-header-top-left-anchor{
	text-align: right;
	color: white;
}

.fa-facebook-official{
	color: blue;
}

.fa-twitter{
	color: green;	
}

.fa-google-plus{
	color: red;
}

.create-topic-modal-dropdown,.share-link-modal-dropdown,.share-document-modal-dropdown,.send-invitation-modal-dropdown{
		background-color:white;
		color:black;
}

.trending-topic{

	padding: 5px;
	border-bottom: 1px solid blue;
}
.tending-topic-panel-body{
	overflow-y: auto;
	height: 340px;
}

