
.panels-dropdown{
	background-color:white;
	color:black;
}

hr{
	border-color: #337ab7;
}

.inbox-panel-anchor{
	float: right;
	margin-right: 6px;
}

.subscription-panel-body{
	margin-left: 15px;
}
.tending-topic-panel-body,.inbox-panel-body{
	margin-left: 10px;
}
.input-top-right-anchor{
	text-align: right;
}


.subscription-header-top-left-anchor{
	text-align: right;
	color: white;
}


.inbox-panel-body{
	overflow-y: auto;
	max-height: 950px;
}

